@import "tailwindcss";

* {
  font-family: "Source Code Pro", monospace;
}

html {
  scroll-behavior: smooth;
}

/*Contact */

textarea {
  resize: none;
  overflow: hidden;
}

input:focus,
textarea:focus {
  caret-color: #00ff00;
}

input,
textarea {
  font-family: "Source Code Pro", monospace;
}

@media (max-width: 640px) {
  .form-container {
    margin: 4rem 2.5rem;
  }
}

/* Profile */
.profile {
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin-bottom: 2rem;
}
