@import "tailwindcss";

* {
  font-family: "Source Code Pro", monospace;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.8rem;
}

section:not(:first-of-type):not(:last-of-type) {
  padding-top: 80px;
}

textarea {
  resize: none;
  overflow: hidden;
}

input:focus,
textarea:focus {
  caret-color: #00ff00;
}

input,
textarea {
  font-family: "Source Code Pro", monospace;
}

.project-card {
  cursor: url("/clic.png"), pointer;
}

.profile {
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin-bottom: 2rem;
}

@media (max-width: 640px) {
  .form-container {
    margin: 4rem 2.5rem;
  }
}
